@font-face {
    font-family: 'Bouchers Script 2.0';
    src: url('BouchersScript20.woff2') format('woff2'),
        url('BouchersScript20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bouchers Sans';
    src: url('BouchersSans.woff2') format('woff2'),
        url('BouchersSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

