*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.post-list{
	display:flex;
	min-height:100vh;
	align-items:center;
	justify-content:center;
	padding:100px 15px;
}
h5{
    font-family: 'arial'!important;
	font-size: 18px;
}

.content{
	display:grid;
	grid-template-columns: repeat(4,2fr);
	grid-gap:20px;
	max-width:1000px;
	margin:auto;
}

.post-img-1{    
	background-image: url(../img/news/GA_00768.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-2{
	background: url(../img/Proyectos/Muros-verdes.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-3{
	
	background: url(../img/Proyectos/Arena.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-4{
	
	background: url(../img/Proyectos/Jardines-verticales.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-5{
	
	background: url(../img/Proyectos/Puentes-urbano.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-6{
	
	background:url(../img/Proyectos/reactivacion.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-7{
	
	background: url(../img/Proyectos/naviera.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-8{
	
	background:url(../img/Proyectos/estadio.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-9{
	
	background: url(../img/Proyectos/Barranquilla.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-10{
	
	background:url(../img/Proyectos/AEEP.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-11{
	
	background:url(../img/Proyectos/Plaza-Mayor.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}
.post-img-12{
	
	background:url(../img/Proyectos/Fachadas.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-13{
	
	background:url(../img/Proyectos/barran.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-14{
	
	background:url(../img/news/smart.png);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-15{
	
	background:url(../img/news/lleras.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-16{
	
	background:url(../img/news/sur.jpeg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-17{
	
	background:url(../img/news/centro.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-18{
	
	background:url(../img/news/Casa\ Angel.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-19{
	
	background:url(../img/news/Galeria.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-20{
	
	background:url(../img/news/incentivos.jpeg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-21{
	
	background:url(../img/news/premio1.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-22{
	
	background:url(../img/news/lleras3.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-23{
	
	background:url(../img/news/new.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-24{
	
	background:url(../img/news/convenio.JPG);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-25{
	
	background:url(../img/news/iluminacion2.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}


.post-img-26{
	
	background:url(../img/news/naviera.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-27{
	
	background:url(../img/news/27.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-28{
	
	background:url(../img/news/4-sur.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-29{
	
	background:url(../img/news/29.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-30{
	
	background:url(../img/news/1.jpeg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-31{
	
	background:url(../img/news/metropolis.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-32{
	
	background:url(../img/news/mudag.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-33{
	
	background:url(../img/news/bienal.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-34{
	
	background:url(../img/news/prado-.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-35{
	
	background:url(../img/news/peaton.JPG);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-36{
	
	background:url(../img/news/_MG_8811.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-37{
	
	background:url(../img/news/_MGL5762.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 

.post-img-38{
	
	background:url(../img/news/IMAGEN-PRADO-03.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 

.post-img-39{
	
	background:url(../img/news/Foto10.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 

.post-img-40{
	
	background:url(../img/news/Archivo-005.png);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 

.post-img-41{
	
	background:url(../img/news/alh.jpeg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 
.post-img-42{
	
	background:url(../img/news/Foto-3.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 
.post-img-43{
	
	background:url(../img/news/unidad.png);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 
.post-img-44{
	
	background:url(../img/news/Palacé.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 
.post-img-45{
	
	background:url(../img/news/Instalación1.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 
.post-img-46{
	
	background:url(../img/news/economico3.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 

.post-img-47{
	
	background:url(../img/news/carcel.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 

.post-img-48{
	
	background:url(../img/Galeria/nutibara/1.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 

.post-img-49{
	
	background:url(../img/Galeria/lleras/2.JPG);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 
.post-img-50{
	
	background:url(../img/Galeria/constelaciones/1.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 

.post-img-51{
	
	background:url(../img/Galeria/lleras/5.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
} 

.post{
	box-shadow: 0 1px 6px 1px rgba(0,0,0, .1);
	transition: .2s;
	overflow:hidden;
}
.post:hover{
	transform:translateY(-4px);
	box-shadow: 0 1px 14px 1px rgba(0,0,0, .15);
}

.post-header{
	width:100%;
	height:200px;
	cursor:pointer;
	overflow:hidden;
}
.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3{
	transform: scale(1.1);
}

.post-body{
	padding:15px;
	text-align:center;
	font-size: 12px;
    font-weight: 300;
}

.post-body span{
	display:inline-block;
	color:#999;
	margin-bottom:10px;
}

.post-body h2{
	margin-bottom:15px;
}

.post-body p{
	line-height:1.5;
	margin-bottom:20px;
}

.post-body .post-link{
	display:block;
	text-decoration:none;
	padding:10px;
	background:#2b6ebb;
	color:#fff;
	width:50%;
	margin:auto;
	border-radius:20px;
	box-shadow:1px 2px 6px 1px rgba(0,0,0, .1);
	transition:.2s;
}

.post-body .post-link:hover{
	background:#3378c7;
	box-shadow:1px 2px 6px 1px rgba(0,0,0, .2);
	transform:translateY(-2px);
}

@media(max-width:840px){
	.content{
		grid-template-columns:repeat(2, 1fr);
	}

}

@media(max-width:600px){
	.content{
		grid-template-columns:repeat(1, 1fr);
	}

}
section{
		text-align:center;
	}