/* Custom CSS */

html {
  scroll-behavior: smooth;
}


#awwwards {
	position: fixed;
	top: 0;
	right: 0;
	width: 90px;
	height: 135px;
	text-indent: -666em;
	overflow: hidden;
	z-index: 999;
	background-repeat: no-repeat;
	background-size: 90px 135px;
	background-image: url(../img/root/awwwards_honorable_white.png);
}

#wpselected {
	position: fixed;
	top: 0;
	left: 0;
	width: 90px;
	height: 90px;
	text-indent: -666em;
	overflow: hidden;
	z-index: 999;
	background-repeat: no-repeat;
	background-size: 90px 90px;
	background-image: url(../img/root/wpselected-badge-left.png);
}

.vlt-custom--9135 .typed-cursor {
	color: #ee3364;
}

.vlt-custom--0531 {
	position: absolute;
	left: 130px;
	bottom: 15%;
	font-size: 35px;
	color: #0b0b0b;
}

.vlt-custom--9503::after {
	content: '';
	position: absolute;
	top: 50%;
	left: calc(100% + 30px);
	height: 1px;
	width: 0;
	max-width: 60px;
	background-color: #1f0e49;
	transition: width .5s 1s ease-in-out;
}

.vlt-is-page-loaded .vlt-custom--9503::after {
	width: 100%;
}

.vlt-custom--5832 {
	position: relative;
	margin-right: 50px;
	z-index: 1;
}

.vlt-custom--5832::after {
	content: '';
	position: absolute;
	top: -50px;
	right: -50px;
	width: 100%;
	height: 100%;
	border: 10px solid #00bec5;
	z-index: -1;
}

.vlt-custom--5832 {
	position: relative;
	margin-right: 50px;
	z-index: 1;
}

.vlt-custom--5832::after {
	content: '';
	position: absolute;
	top: -50px;
	right: -50px;
	width: 100%;
	height: 100%;
	border: 10px solid #00bec5;
	z-index: -1;
}

.vlt-custom--3103 .vlt-services-box__link {
	background-color: rgba(0,0,0,.25);
}

.vlt-custom--3103 .vlt-highlight {
	background: linear-gradient(to top, transparent 5%, rgba(0,0,0,.25) 5% , rgba(0,0,0,.25) 37%, transparent 37%);
}

.vlt-custom--4111 .vlt-swiper-pagination--style-1 span {
	background-color: #fff;
}

.vlt-custom--4111 .vlt-swiper-button-prev--style-2,
.vlt-custom--4111 .vlt-swiper-button-next--style-2 {
	color: #fff;
}

.vlt-custom--6632 {
	margin-top: -225px;
}

.vlt-custom--9917 .vlt-social-icons a:not(:hover) {
	color: #fff;
}

.vlt-custom--8681 .vlt-countdown h5,
.vlt-custom--8681 .vlt-countdown strong {
	color: #fff;
}

.vlt-custom--9511 .vlt-swiper-pagination--style-1 span {
	background-color: #fff;
}

.vlt-is--homepage-05 .vlt-header--default .vlt-navbar,
.vlt-is--homepage-05 .vlt-header--default .vlt-navbar.vlt-navbar--solid {
	background-color: #191919;
}

.vlt-is--homepage-11 .vlt-navbar {
	padding: 0 35px;
}

.vlt-is--homepage-11 .vlt-navbar .container {
	width: 100%;
}

/* min-width 768px */
@media (min-width: 768px) {
	.vlt-custom--5136 {
		padding-left: 70px;
	}
	.vlt-custom--8620 {
		padding-right: 70px !important;
	}
	.vlt-custom--5317 {
		padding: 0 30px !important;
	}
	.vlt-custom--5171 {
		padding-right: 70px;
	}
	.vlt-custom--7205 {
		margin-top: -100px;
	}
	.vlt-custom--8511 {
		padding-right: 85px;
	}
	.vlt-custom--6525 {
		position: relative;
		z-index: 2;
	}
}

/* max-width 767px */
@media (max-width: 767px) {
	#awwwards,
	#wpselected {
		display: none;
	}
	.vlt-custom--9135 h2 {
		font-size: 28px
	}
	.vlt-custom--1631 {
		font-size: 38px;
	}
}

/* max-width 991px */
@media (max-width: 991px) {
	.vlt-custom--9182 {
		font-size: 48px;
		line-height: 60px;
	}
	.vlt-custom--9182 {
		font-size: 48px;
		line-height: 60px;
	}
}

/* max-width 575px */
@media (max-width: 575px) {
	.vlt-custom-9182 {
		font-size: 38px;
		line-height: 50px;
	}
	.vlt-custom-9182 {
		font-size: 38px;
		line-height: 50px;
	}
	.vlt-custom--0531 {
		bottom: 5%;
	}
}

.vlt-is--lowercase-mode .vlt-fullscreen-navigation .sf-menu a, .vlt-is--lowercase-mode .vlt-slide-navigation .sf-menu a{
	text-transform: none;
}

.vlt-footer--widgetized{
	background-image: none!important;
}

.card.team{
	background-color: transparent;
}

body{
	font-family: 'Muli' !important;
}

.vlt-site-preloader .image img {
	height: 400px!important;
	border-radius: none;
}

.cursor-pointer:hover{
	cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 768px) {                
	.home-videos-desktop {
		display: none;
	}

	#atanasio{
		display: block;
	}

	#atanasio-xl{
		display: none;
	}

	#puentes-verdes{
		display: block;
	}

	#puentes-verdes-xl{
		display: none;
	}

	#naviera{
		display: block;
	}

	#naviera-xl{
		display: none;
	}
}

@media (min-width: 769px) {              
   	.home-mobile {
		display: none;
	}

	.vlt-menu-burger {
	    width: 20px;
	}

	#atanasio{
		display: none;
	}

	#atanasio-xl{
		display: block;
	}

	#puentes-verdes{
		display: none;
	}

	#puentes-verdes-xl{
		display: block;
	}

	#naviera{
		display: none;
	}

	#naviera-xl{
		display: block;
	}
}

/*@media (min-width: 768px) {                  
   	.home-videos-desktop {
		display: none;
	}
}*/

/* LARGE DEVICES (desktops, 992px and up) */
/*@media (min-width: 992px) {
	.home-mobile{
		display: none;
	}
}*/

/* LARGE DEVICES ONLY! */
@media screen and (min-width: 768px) and (max-width: 1199px) {
	#atanasio{
		display: block;
	}

	#atanasio-xl{
		display: none;
	}

	#puentes-verdes{
		display: block;
	}

	#puentes-verdes-xl{
		display: none;
	}

	#naviera{
		display: block;
	}

	#naviera-xl{
		display: none;
	}
}


@media (min-width: 1400px) {
	#atanasio{
		display: none;
	}

	#atanasio-xl{
		display: block;
	}

	#puentes-verdes{
		display: none;
	}

	#puentes-verdes-xl{
		display: block;
	}

	#naviera{
		display: none;
	}

	#naviera-xl{
		display: block;
	}
}

.menu-item{
	font-family: 'Roger Sans'!important;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase!important;
}

h1,h3,h4,h5,h6,.menu-item{  
	font-family: "Inter", sans-serif !important;
    font-style: normal;
}

.menu-item{
	font-family: 'Roger Sans'!important;
	font-weight: 100!important;
	font-style: normal;
}

.vlt-fullscreen-navigation .sf-menu ul.sub-menu a, .vlt-slide-navigation .sf-menu ul.sub-menu a{
	font-weight: 100!important;
}

h1.subdirector-name, h2.subdirector-name{
	/*font-family: 'Bouchers Script 2.0'!important;*/
	font-family: 'Oldventure'!important;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 5px;
}

h1.subdirector-name {
	font-size: 70px;
}

h2.subdirector-name {
	font-size: 90px;
}

p, u{
	font-family: 'Montserrat' serif;
    font-style: normal;
    color: black;
}

p{
	font-size: 17px;
}

p.normal-text{
	font-size: 1em;
}

u{
	font-size: 25px;
}

h3.vlt-page-title-hero__title{
    font-size: 3.3em;
}
.vlt-navbar.vlt-navbar--white-text-on-top.vlt-navbar--solid {
    color: #0b0b0b;
    background-color: rgb(255 255 255 / 0%);
}

.home-video-mobile{
	margin-top: -3px;
	height: 100%;
}

.vlt-header--mobile .vlt-navbar {
	border-bottom: none;
	background: transparent;
}

.vlt-fullscreen-navigation-holder{
	background-color: rgb(25 25 25 / .98);
	background-image: none;
}

.vlt-display-1{
	font-size: 1.3em;
	line-height: 0px;
}

.vlt-projects-showcase--style-5 .vlt-projects-showcase__image::after{
	background-color: transparent;
}

.vlt-mobile-navigation > .container{
	background: rgb(238,174,202);
   	background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgb(123 183 255) 100%);
}

.vlt-mobile-navigation .sf-menu a{
	color: #fff;
	border-bottom: none;
}

.float{
	position:fixed;
	margin: 20px;
	padding: 10px;
	bottom:100px;
	right:30px;
	background-color:#eba1c4;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #545252;
   z-index: 100;
}

a.float:hover, a.float-left:hover{
	color: blue;
}

.float-left{
	position:fixed;
	margin: 20px;
	padding: 10px;
	bottom:100px;
	left:30px;
	background-color:#eba1c4;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #545252;
   z-index: 100;
}

.my-float{
	margin-top:22px;
}

.text-small{
	font-size: 0.9em;
}

.vlt-fullscreen-navigation .sf-menu ul.sub-menu a, .vlt-slide-navigation .sf-menu ul.sub-menu a{
	font-family: 'Roger Sans'!important;
	font-size: 20px;
}