*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.post-list{
	display:flex;
	min-height:100vh;
	align-items:center;
	justify-content:center;
	padding:100px 15px;
}

.content{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap:20px;
	max-width:1000px;
	margin:auto;
}

.post-img-1{    
	background-image: url(../img/Proyectos/estadio.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-2{
	background: url(../img/Proyectos/Arena.jpg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-3{
	
	background: url(../img/Proyectos/Saludable.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-4{
	
	background: url(../img/Proyectos/Carcel.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-5{
	
	background: url(../img/Proyectos/Minorista.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-6{
	
	background:url(../img/Proyectos/Centro-norte.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-7{
	
	background: url(../img/Proyectos/Centro-civico.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-8{
	
	background:url(../img/Proyectos/Parque-norte.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-9{
	
	background: url(../img/Proyectos/Red-neutra.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-10{
	
	background:url(../img/Proyectos/AIIRE.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}


.post-img-11{    
	background-image: url(../img/Proyectos/Gestion-prado.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-12{
	background: url(../img/Proyectos/naviera.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-13{
	
	background: url(../img/Proyectos/Barranquilla.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-14{
	
	background: url(../img/Proyectos/Muros-verdes.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-15{
	
	background: url(../img/Proyectos/Puentes-urbano.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-16{
	
	background:url(../img/Proyectos/Bulerías.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-17{
	
	background: url(../img/Proyectos/Ciclorruta.jpeg);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-18{
	
	background:url(../img/Proyectos/El-Poblado.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-19{
	
	background: url(../img/Proyectos/Parque-Bolivar.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-20{
	
	background:url(../img/Proyectos/bastilla.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-21{
	
	background:url(../img/Proyectos/junin.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-22{
	
	background:url(../img/Proyectos/Avenida-Jardin.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-23{
	
	background:url(../img/Proyectos/AEEP.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}


.post-img-24{    
	background-image: url(../img/Proyectos/fiscales.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-25{
	background: url(../img/Proyectos/Oportunidades-inmobiliarias.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-26{
	
	background: url(../img/Proyectos/inmobiliarios.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-27{
	
	background: url(../img/Proyectos/Plaza-Mayor.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-28{
	
	background: url(../img/Proyectos/Olimpica.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-29{
	
	background:url(../img/Proyectos/Prado-Centro.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-30{
	
	background: url(../img/Proyectos/Museo.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-31{
	
	background:url(../img/Proyectos/Aurora.webp);
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post{
	box-shadow: 0 1px 6px 1px rgba(0,0,0, .1);
	transition: .2s;
	overflow:hidden;
}
.post:hover{
	transform:translateY(-4px);
	box-shadow: 0 1px 14px 1px rgba(0,0,0, .15);
}

.post-header{
	width:100%;
	height:200px;
	cursor:pointer;
	overflow:hidden;
}
.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3{
	transform: scale(1.1);
}

.post-body{
	padding:15px;
	text-align:center;
	font-size: 12px;
    font-weight: 300;
}

.post-body span{
	display:inline-block;
	color:#999;
	margin-bottom:10px;
}

.post-body h2{
	margin-bottom:15px;
}

.post-body p{
	line-height:1.5;
	margin-bottom:20px;
}

.post-body .post-link{
	display:block;
	text-decoration:none;
	padding:10px;
	background:#2b6ebb;
	color:#fff;
	width:50%;
	margin:auto;
	border-radius:20px;
	box-shadow:1px 2px 6px 1px rgba(0,0,0, .1);
	transition:.2s;
}

.post-body .post-link:hover{
	background:#3378c7;
	box-shadow:1px 2px 6px 1px rgba(0,0,0, .2);
	transform:translateY(-2px);
}

@media(max-width:840px){
	.content{
		grid-template-columns:repeat(2, 1fr);
	}

}

@media(max-width:600px){
	.content{
		grid-template-columns:repeat(1, 1fr);
	}

}
section{
		text-align:center;
	}