
/*---------HEADER---------*/

#imgHeader {
    position: relative;
}

#imgHeader:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.7;
}

#imgHeader .recuadro:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    margin: auto;
    height: 150px;
    width: 400px;
    background: red;
    background: url(https://colombiatic.mintic.gov.co/679/channels-581_logo_footer_mintic.png);
    background-repeat: no-repeat;
    left: 38px;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

#imgHeader .recuadro:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: var(--secondary);
    width: 333px;
    height: 100%;
}

#imgHeader .titulo {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 65px;
    max-width: 480px;
    color: #fff;
    font-size: 32px;
}

@media screen and (min-width: 1px) and (max-width: 768px){
   

    #imgHeader .recuadro:before {
        display: block;
        position: relative;
        margin: auto;
        left: 0px;
        height: 100px;
        width: auto;
        background-size: contain;
        background-position: center;
        background-color: #fff;
    }

    #imgHeader .recuadro:after{
        display: none;
    }

    #imgHeader .titulo {
        font-size: 19px;
        right: initial;
        left: 0;
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 10px;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        text-align: center;
    }
}


header .recuadro img {
    width: 100%;
}

.logo_menu_superior, 
.menu_superior {
    color: #fff;
}
.items_menu_superior, .buscador_menu_superior {
    display: flex;
    align-items: center;
}

.header-govco {
    padding: 8px 0;
}

.header-govco img {
    max-height: 20px;
}

@media only screen and (max-width: 767.98px) {
    header .logo {
        text-align:center;
    }
}

@media screen and (min-width: 1px) and (max-width: 991.98px){
    .items_menu_superior > div {
        width: 100%;
    }

    .busqueda_avanzada,
    .header-govco {
        margin: auto;
    }
}


.items_menu_superior ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
}

.items_menu_superior ul > li {
    display: inline-block;
}

.items_menu_superior ul > li a {
    color: #fff;
    padding: 20px 15px;
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.items_menu_superior ul > li a:hover {
    text-decoration: none;
}

.items_menu_superior ul > li a:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    background: #f0cf37;
}

@media screen and (min-width: 1px) and (max-width: 768px){
    .items_menu_superior ul {
        margin-bottom: 20px;
    }
    .items_menu_superior ul > li {
        width: 100%;
        text-align: center;
    }
    .items_menu_superior ul > li a {
        color: #fff;
        padding: 5px 15px;
    }
}

#cuadro_busqueda {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z'/><path fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    background-size: 17px;
    font-size: 0;
    width: 30px;
    height: 30px;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.busqueda_avanzada {
    position: relative;
    margin-left: auto;
    width: 100%;
    max-width: 350px;
}

@media screen and (min-width: 1px) and (max-width: 768px){
    .busqueda_avanzada {
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }
}


.accesibilidad-menu {
    background-color: var(--primary);
    display: block;
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    left: auto;
    right: 0;
    z-index: 200;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 3px #0000002b;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.accesibilidad-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 36px;
    margin: 0;
}

.accesibilidad-items a {
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 8px;
    transition: all .5s;
    width: 180px;
    padding: 2px 0px;
    text-decoration: none;
}

.accesibilidad-items a:hover {
    background-color: var(--blue);
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
    padding: 2px 10px;
}

.accesibilidad-items img {
    display: flex;
    width: 26px;
    height: 26px;
    padding: 4px;
    margin: 5px 0;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.accesibilidad-items span {
    font-size: 13px;
    margin-left: 10px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

  
  .section-bg {
	background-color: #f3f5fa;
  }
  
  .section-title {
	text-align: center;
	padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: inherit;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #000000;
    margin-top: 25px;
}
  
  .section-title h2::before {
	content: "";
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
  }
  
  .section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #b3348a;
	bottom: 0;
	left: calc(50% - 20px);
  }
  
  .section-title p {
	margin-bottom: 0;
  }



/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
	font-weight: 600;
	font-size: 26px;
  }
  
  .about .content ul {
	list-style: none;
	padding: 0;
  }
  
  .about .content ul li {
	padding-left: 28px;
	position: relative;
  }
  
  .about .content ul li+li {
	margin-top: 10px;
  }
  
  .about .content ul i {
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 20px;
	color: #47b2e4;
	line-height: 1;
  }
  
  .about .content p:last-child {
	margin-bottom: 0;
  }
  
  .about .content .btn-learn-more {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 32px;
	border-radius: 4px;
	transition: 0.3s;
	line-height: 1;
	color: #000000;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	margin-top: 6px;
	border: 2px solid #b3348a;
  }
  
  .about .content .btn-learn-more:hover {
	background: #b3348a;
	color: #fff;
	text-decoration: none;
  }
  

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
/* .counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  justify-content: center;

}

.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: #4154f1;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0b198f;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}
 */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	font-size: 14px;
	background: #000000;
  }
  
  #footer .footer-newsletter {
	padding: 50px 0;
	background: #f3f5fa;
	text-align: center;
	font-size: 15px;
	color: #444444;
  }
  
  #footer .footer-newsletter h4 {
	font-size: 24px;
	margin: 0 0 20px 0;
	padding: 0;
	line-height: 1;
	font-weight: 600;
	color: #37517e;
  }
  
  #footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 50px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
	text-align: left;
  }
  
  #footer .footer-newsletter form input[type=email] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #47b2e4;
	color: #fff;
	transition: 0.3s;
	border-radius: 50px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
	background: #209dd8;
  }
  
  #footer .footer-top {
	padding: 60px 0 30px 0;
	background: #fafafa;
  border-top: solid 1px #f1f1f1;
  }
  
  #footer .footer-top .footer-contact {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h3 {
	font-size: 28px;
	margin: 0 0 10px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	color: #000000;
  }
  
  #footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Jost", sans-serif;
	color: #5e5e5e;
  }
  
  #footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	position: relative;
	padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #47b2e4;
	font-size: 18px;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
	color: #777777;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #47b2e4;
  }
  
  #footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #b3348a;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
	background: #6c77ff;
	color: #fff;
	text-decoration: none;
  }
  
  #footer .footer-bottom {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
  }
  
  #footer .copyright {
	float: left;
  }
  
  #footer .credits {
	float: right;
	font-size: 13px;
  }
  
  #footer .credits a {
	transition: 0.3s;
  }
  
  @media (max-width: 768px) {
	#footer .footer-bottom {
	  padding-top: 20px;
	  padding-bottom: 20px;
	}
  
	#footer .copyright,
	#footer .credits {
	  text-align: center;
	  float: none;
	}
  
	#footer .credits {
	  padding-top: 4px;
	}
  }
