*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.linea {
    border-top: 5px solid #0077C0;
    margin-bottom: 40px;
    display: none;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: none;
    border-radius: 10px;
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius:10px;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(238,51,100,.9);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    border-radius:10px;
}

.overlay h2 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: "Jost", sans-serif !important;
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;

}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}