*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.post-list{
	display:flex;
	min-height:100vh;
	align-items:center;
	justify-content:center;
	padding:100px 15px;
}

.content{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap:20px;
	max-width:1000px;
	margin:auto;
}

.post-img-1{    
	background-image: url("Proyectos/fiscales.webp");
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-2{
	background: url("Proyectos/Oportunidades-inmobiliarias.webp");
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-3{
	
	background: url("Proyectos/inmobiliarios.webp");
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-4{
	
	background: url("Proyectos/Plaza-Mayor.webp");
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-5{
	
	background: url("Proyectos/Olimpica.webp");
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-6{
	
	background:url("Proyectos/Prado-Centro.webp");
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-7{
	
	background: url("Proyectos/Museo.webp");
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post-img-8{
	
	background:url("Proyectos/Aurora.webp");
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center;
	transition:-2s;
}

.post{
	box-shadow: 0 1px 6px 1px rgba(0,0,0, .1);
	transition: .2s;
	overflow:hidden;
}
.post:hover{
	transform:translateY(-4px);
	box-shadow: 0 1px 14px 1px rgba(0,0,0, .15);
}

.post-header{
	width:100%;
	height:200px;
	cursor:pointer;
	overflow:hidden;
}
.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3{
	transform: scale(1.1);
}

.post-body{
	padding:15px;
	text-align:center;
	font-size: 12px;
    font-weight: 300;
}

.post-body span{
	display:inline-block;
	color:#999;
	margin-bottom:10px;
}

.post-body h2{
	margin-bottom:15px;
}

.post-body p{
	line-height:1.5;
	margin-bottom:20px;
}

.post-body .post-link {
    display: block;
    text-decoration: none;
    padding: 5px 8px;
    background: #f5b732;
    color: #333333;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0,0,0, .1);
    transition: .2s;
    font-family: "muli", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
}

.post-body .post-link:hover{
	background:#3378c7;
	box-shadow:1px 2px 6px 1px rgba(0,0,0, .2);
	transform:translateY(-2px);
}

@media(max-width:840px){
	.content{
		grid-template-columns:repeat(2, 1fr);
	}

}

@media(max-width:600px){
	.content{
		grid-template-columns:repeat(1, 1fr);
	}

}
section{
		text-align:center;
	}