@font-face {
    font-family: 'Roger Sans';
    src: url('RogerSansBold.woff2') format('woff2'),
        url('RogerSansBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roger Sans';
    src: url('RogerSansLight.woff2') format('woff2'),
        url('RogerSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

